body {
    background: #e5e5e5;
    color: #25282b;
    margin: 0; /* Remover margin do body */
}

.hide {
    display: none; /* Esconder */
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff5e84;
    text-decoration: underline; /* Tirar o sublinhado do link */
}

#container {
    display: flex; /* Dispor blocos em linha */
    max-width: 980px; /* Largura Máxima do Bloco */
    margin: 40px auto;
    width: 80%; /* Largura da página (fluidez) */
}

#intro {
    margin-right: 20px;
    width: 300px; /*Tamanho fixo ao se ajustar a página*/
}

main {
    margin: 32px 0;
}

#buttons {
    justify-content: space-evenly; /*Espaço entre os botões*/
    display: flex;
    margin-bottom: 32px;
}

button {
    background: none;
    border: none;
    color: #ff5e84;
    cursor: pointer; /* Alterado o cursor */
    font-weight: bold;
    outline: none; /* Removendo linha ao clicar sobre o botão */
}

button:hover {
    text-decoration: underline; /* sublinhar butão ao passar mouse por cima */
}

button.fat {
    background: #ff5e84;
    border-radius: 6px; /* aplicando borda arredondada */
    box-shadow: 0px 8px 16px #ff5e8432; /* aplicar sombra */
    color: white;
    width: 150px;
    height: 40px;
}

button.fat:hover{
    text-decoration: none;
}

footer {
    text-align: center;
}

.idea {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1); /* -8 espalha para dentro */
    display: flex;
    margin-bottom: 32px;
    padding: 32px; /* Preenchimento do elemento */
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.ideia h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}