body {
    background: #e5e5e5;
    color: #25282b;
    margin: 0; /* Remover margin do body */
}

#container {
    width: 90%; /* Largura da página (fluidez) */
    max-width: 980px; /* Largura Máxima do Bloco */
    margin-right: auto; /* Margem direita da página */
    margin-left: auto;
    display: flex; /* Dispor blocos em linha */
}

#intro {
    width: 300px; /*Tamanho fixo ao se ajustar a página*/
    margin-right: 20px;
}

main {
    margin: 32px 100px 0 0;
}

#buttons {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-evenly; /*Espaço entre os botões*/
}

button {
    color: #ff5e84;
    border: none;
    font-weight: bold;
    background: none;
}

button.fat {
    color: white;
    background: #ff5e84;
}

footer {
    text-align: center;
}

footer a {
    color: #25282b;
    text-decoration: none; /* Tirar o sublinhado do link */
}

.hide {
    display: none; /* Esconder */
}